* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(229, 236, 248, 0.5490196078);
}

.form-label {
  color: #797c7e !important;
}

.Layout {
  width: 100%;
  min-height: 100vh;
}

.OutletSection {
  width: 95%;
  min-height: 100vh;
  margin-left: 5%;
}

.CommonPageLayout {
  background-image: url(/public/img/Header-bg.svg);
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  background-size: contain;
}

.MainContent {
  margin-top: 20px;
}

.card-shadow {
  box-shadow: #dfe3e8 0px 3px 8px !important;
}

.form-control {
  box-shadow: none !important;
  height: 50px !important;
  border-radius: 7px !important;
  border-color: #8796a5 !important;
}

.form-select {
  box-shadow: none !important;
  height: 50px !important;
  border-radius: 7px !important;
  border-color: #8796a5 !important;
}

.customControl {
  min-height: 80px !important;
}

.btn {
  border-radius: 20px !important;
  box-shadow: none !important;
}

.btn-primary {
  background: #0a3d89 !important;
  border-color: #0a3d89 !important;
}

.btn-outline-primary {
  color: #0a3d89 !important;
  border-color: #0a3d89 !important;
}

.btn-outline-primary:hover {
  color: #fff !important;
  background-color: #0a3d89 !important;
}

.card {
  border: none !important;
  border-radius: 12px !important;
}
.card .card-body {
  border-radius: 12px !important;
}

.page-link {
  border: none !important;
  background: none !important;
  box-shadow: none !important;
}

.page-link:hover {
  background-color: none !important;
}

.page-item.active .page-link {
  background: #0dcaf0 !important;
  border-radius: 31% !important;
}

.error {
  border-color: red !important;
}

.text-red {
  color: red !important;
}

.errorLine {
  font-size: 13px;
}

.MobileNav {
  display: none;
}

.WrapSection {
  height: 70px;
}

.graph-detail-section {
  font-size: 13px;
}
.graph-detail-section .blue-mark span {
  position: relative;
}
.graph-detail-section .blue-mark span::before {
  content: " ";
  position: absolute;
  min-height: 7px !important;
  min-width: 7px !important;
  background: #0a3d89;
  border-radius: 50%;
  left: -50%;
  top: 41%;
}
.graph-detail-section .green-mark span {
  position: relative;
}
.graph-detail-section .green-mark span::before {
  content: " ";
  position: absolute;
  min-height: 7px !important;
  min-width: 7px !important;
  background: #1da436;
  border-radius: 50%;
  left: -50%;
  top: 41%;
}

.departmentWiseName {
  font-size: 21px;
}

/* Bottom Popup Styles */
.bottom-popup-container {
  position: relative;
}

.bottom-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.2); /* Optional: Add box shadow for better visual */
  transition: transform 0.3s ease-in-out; /* Fade effect */
  transform: translateY(100%);
}

.popup-content {
  padding: 20px;
}

/* Show popup when isOpen state is true */
.bottom-popup.open {
  transform: translateY(0);
}

.PasswordInput {
  position: relative !important;
}

.pass-eys-icon {
  position: absolute !important;
  right: 0%;
  top: 10%;
  border: none;
  /* box-shadow: none !important; */
  font-size: 18px;
}

.chartCard {
  height: 370px !important;
}

.PieChartsCard {
  display: flex !important;
  justify-content: cente !important;
  align-items: center !important;
}
.PieChartsCard canvas {
  height: 300px !important;
  width: 300px !important;
}

.w-5 {
  width: 5px !important;
}

.w-10 {
  width: 10px !important;
}

.w-15 {
  width: 15px !important;
}

.w-20 {
  width: 20px !important;
}

.w-25 {
  width: 25px !important;
}

.w-30 {
  width: 30px !important;
}

.w-35 {
  width: 35px !important;
}

.w-150 {
  width: 150px !important;
}

.w-200 {
  width: 200px !important;
}

.LoginSection {
  width: 100%;
  min-height: 100vh;
  background-image: url(/public/img/login-bg-1.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoginTitle {
  font-size: 20px;
}

.ForgotText {
  font-size: 13px;
  margin-top: -18px;
  text-decoration: none;
}

.LoginCustonCard {
  width: 470px !important;
  padding: 36px 39px !important;
  border-radius: 10px;
  border-radius: 17px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px !important;
}

.DesktopSection {
  display: block;
}

.custom-col {
  width: 20% !important;
}

.DCard {
  border-left: 5px solid skyblue !important;
}
.DCard p {
  margin-bottom: 0px;
}
.DCard h2 {
  margin-bottom: 0px;
  font-size: 40px;
}
.DCard .card-body {
  padding: 10px !important;
}

.custom-table th {
  border-bottom-width: 0 !important;
  font-size: 14px !important;
  background-color: rgba(13, 110, 253, 0.0784313725) !important;
  font-weight: 700 !important;
}
.custom-table td {
  text-transform: capitalize !important;
  font-size: 14px !important;
  color: #555353 !important;
  vertical-align: middle !important;
}
.custom-table td p {
  margin-bottom: 0px !important;
}
.custom-table td .btn {
  font-size: 13px !important;
  text-transform: capitalize !important;
}
.custom-table td span {
  color: grey !important;
  font-size: 15px !important;
  font-weight: 500;
}
.custom-table .ProjectNameTitle {
  font-size: 15px !important;
  font-weight: 700 !important;
}

.SearchTable {
  width: 200px !important;
  height: 40px !important;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-radius: 0px !important;
}

.NameText {
  font-weight: 600;
  margin-bottom: 0px;
}

.DateMbl {
  color: gray;
  font-size: 15px;
}

.InformSection p {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
}

.GreyText {
  color: gray;
}

.DarkText {
  color: #555353;
}

.BtnCsm {
  width: 80px !important;
}

.MblCardSection {
  margin-top: -4px;
  display: none;
}

.filterSection {
  position: relative;
}

.BarIcon {
  font-size: 25px;
  position: absolute;
  right: 1%;
  top: 45%;
  color: grey;
}

.SortSection {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 50px;
}
.SortSection li {
  margin-bottom: 36px;
  font-size: 17px;
}

aside {
  background: #fff;
  width: 5%;
  min-height: 100vh;
  box-shadow: #dfe3e8 0px 3px 8px !important;
  position: fixed;
}

.NavigationWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.NavigationWrapper ul {
  list-style-type: none;
  padding-left: 0px !important;
}
.NavigationWrapper ul li {
  margin-bottom: 40px;
  font-size: 26px;
}
.NavigationWrapper ul li:nth-child(2) {
  position: relative;
}
.NavigationWrapper ul li:nth-child(2)::before {
  content: " ";
  position: absolute;
  bottom: -75%;
  left: -5px;
  height: 0.9px;
  width: 36px;
  background: grey;
}

.unActive a {
  color: gray !important;
}

.activePage a {
  color: #0a3d89 !important;
  position: relative;
}
.activePage a::before {
  content: " ";
  position: absolute;
  left: -25px;
  top: 4px;
  height: 35px;
  /* border-radius: 50px; */
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  width: 6px;
  background-color: #0a3d89;
}

.bottomNavWrapper {
  display: none;
}
.bottomNavWrapper ul {
  list-style-type: none;
  padding-left: 0px !important;
}
.bottomNavWrapper ul li {
  margin-bottom: 20px;
  font-size: 22px;
}

.MobileSection {
  display: none;
}

.desk-logout {
  position: absolute;
  bottom: 16%;
  left: 38%;
  color: grey;
  font-size: 26px;
}

@media (max-width: 991px) {
  aside {
    display: none;
  }
  .MblCardSection {
    display: block;
  }
  .OutletSection {
    width: 100%;
    padding-bottom: 110px;
    margin-left: 0%;
    margin-top: 85px;
  }
  .TableSection {
    display: none;
  }
  .bottomNavWrapper {
    display: block;
  }
  .bottomNavWrapper ul {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0px;
    padding: 15px 0px;
    background: #fff;
    border-top-left-radius: 39px;
    border-top-right-radius: 39px;
    box-shadow: rgba(103, 155, 232, 0.4784313725) 0px 3px 8px !important;
  }
  .bottomNavWrapper ul li {
    margin-bottom: 0px;
  }
  .BottomNavigation {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0%;
    padding: 0px;
  }
  .customRow {
    --bs-gutter-x: 0rem !important;
  }
  .desktopNav {
    display: none;
  }
  .CommonPageLayout {
    background: none;
  }
  .MobileNav {
    display: block;
    background-image: url(/public/img/Header-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    z-index: 999;
  }
  .activePage a::before {
    left: 35%;
    top: 86%;
    transform: rotate(270deg);
  }
  .SearchTable {
    background: none !important;
    margin-bottom: 20px;
    width: 50% !important;
  }
}
@media (max-width: 772px) {
  .LoginBtn {
    width: 100% !important;
    margin-top: 28px;
  }
  .DashobarCustomRow {
    flex-wrap: nowrap !important;
    overflow: auto !important;
  }
  .DashobarCustomRow .card {
    border-radius: 4px !important;
    height: 78px !important;
  }
  .DashobarCustomRow .card .card-body {
    border-radius: 4px !important;
  }
  .custom-col {
    width: 147px !important;
  }
  .DCard h2 {
    font-size: 23px;
  }
  .departmentWiseName {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .chartCard {
    height: 334px !important;
  }
  .BarChartCard {
    height: 200px !important;
  }
  .SearchTable {
    background: none !important;
    width: 75% !important;
  }
  .LoginSection {
    display: block !important;
    background-image: none;
    background-color: #fff !important;
  }
  .LoginCustonCard {
    width: 100% !important;
    padding: 9px 0px !important;
    box-shadow: none !important;
    min-height: 60vh;
  }
  .DesktopSection {
    display: none;
  }
  .MobileSection {
    min-height: 39vh;
    width: 100%;
    background-image: url(/public/img/login-bg-1.svg);
    background-position-x: -120%;
    border-bottom-left-radius: 88px;
    display: block;
    position: relative;
  }
  .LoginTitle {
    margin-bottom: 21px !important;
    margin-top: 9px;
    text-align: left !important;
    font-size: 19px;
  }
  .LoginCustonCard .card-body {
    display: flex !important;
    align-items: center !important;
    position: relative;
  }
  .LoginCustonCard .card-body div {
    width: 100%;
  }
  .LoginCustonCard .card-body div .LoginBtn {
    position: absolute;
    bottom: 0%;
    width: 92% !important;
  }
}

/*# sourceMappingURL=style.css.map */
