.custom-col{
    width: 20% !important;
}
.DCard{
    border-left:5px solid skyblue !important ;

    p{
        margin-bottom: 0px;
    }

    h2{
        margin-bottom: 0px;
        font-size: 40px;
    }

    .card-body{
        padding: 10px !important;
    }
}